{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card shadow">
              <div class="card-body">
                  <h1 class="card-title">Ваша корзина</h1>
                  {% if cart_items %}
                      {% for cart_item in cart_items %}
                          <p>{{ cart_item.product.name }} - {{ cart_item.quantity }} x {{ cart_item.product.price }} = {{ cart_item.subtotal }}</p>
                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCartModal{{ cart_item.id }}">
                              Обновить количество
                          </button>
                          <form method="post" action="{% url 'cart:delete_from_cart' cart_item.id %}" class="d-inline">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Удалить</button>
                          </form>

                          <!-- Модальное окно для каждого товара -->
                          <div class="modal fade" id="updateCartModal{{ cart_item.id }}" tabindex="-1" role="dialog" aria-labelledby="updateCartModalLabel{{ cart_item.id }}" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title">Update Cart Item: {{ cart_item.product.name }}</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <form method="post" action="{% url 'cart:update_cart' cart_item.id %}">
                                          <div class="modal-body">
                                              {% csrf_token %}
                                              <input type="number" name="quantity" value="{{ cart_item.quantity }}" class="form-control">
                                          </div>
                                          <div class="modal-footer">
                                              <button type="submit" class="btn btn-primary">Обновить количество</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                      <hr> <!-- Горизонтальная линия для разделения секций -->
                      <p class="text-right"><strong>Итого: {{ total_price }}</strong></p>
                      <div class="text-right">
                          <a href="{% url 'orders:create_order' %}" class="btn btn-success">Перейти к оформлению</a>
                      </div>
                  {% else %}
                      <p class="text-center">Ваша корзина пуста.</p>
                      <div class="text-center">
                          <a href="{% url 'product:product_list' %}" class="btn btn-secondary">Продолжить покупки</a>
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
