{% extends 'base.html' %}

{% block content %}
{% extends 'base.html' %}

{% block content %}
  <h1>Update Cart Item</h1>
  <!-- Кнопка для открытия модального окна -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateCartModal">
    Обновить количество
  </button>

  <!-- Модальное окно -->
  <div class="modal fade" id="updateCartModal" tabindex="-1" role="dialog" aria-labelledby="updateCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCartModalLabel">Update Cart Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post">
          <div class="modal-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Обновить количество</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
