  <!-- Пагинация -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!-- First page -->
        {% if products.has_previous %}
        <li class="page-item">
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" class="page-link">В начало</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">В начало</span>
        </li>
        {% endif %}

        <!-- Previous page -->
        {% if products.has_previous %}
        <li class="page-item">
            <a href="?page={{ products.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" class="page-link">Предыдущая</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Предыдущая</span>
        </li>
        {% endif %}

        <!-- List of pages -->
        {% for page in products.paginator.page_range %}
            <li class="page-item {% if page == products.number %}active{% endif %}">
                <a class="page-link" href="?page={{ page }}{% if query %}&q={{ query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">{{ page }}</a>
            </li>
        {% endfor %}

        <!-- Next page -->
        {% if products.has_next %}
        <li class="page-item">
            <a href="?page={{ products.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" class="page-link">Следующая</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Следующая</span>
        </li>
        {% endif %}

        <!-- Last page -->
        {% if products.has_next %}
        <li class="page-item">
            <a href="?page={{ products.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" class="page-link">Последняя</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">Последняя</span>
        </li>
        {% endif %}
    </ul>
</nav>