{% extends "base.html" %}

{% block content %}
<h1>Create Profile</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit" class="btn btn-primary">Create Profile</button>
</form>
{% endblock %}
