{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card shadow">
              <div class="card-body">
                  <h1 class="text-center mb-4">Редактирования профиля</h1>
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="w-100">
                    <strong>Имя:</strong>{{ user_form.first_name }}<br>
                    <p></p>
                    <strong>Фамилия:</strong> {{ user_form.last_name }}<br>
                  <p></p> 
                    <strong>Электронная почта:</strong> {{ user_form.email }}<br>
                    <p></p> 
                    {{ profile_form.as_p }}  
                    </div>
                    <button type="submit">Update Profile</button>
                  </form>
                </div>
              </div>
            </div>             
{% endblock %}