
 {% extends 'base.html' %}

 {% block content %}

 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">Вход</h1>
                <form action="{% url 'accounts:login' %}" method="POST" class="">
                 {% csrf_token %}
                 {% if has_error %}
                     <p>Имя пользователя или пароль указано неверно.</p>
                 {% endif %}
 
                 <div class="mb-3">
                     <label for="username" class="form-label">Имя пользователя</label>
                     <input type="text" name="username" id="username" class="form-control">
                 </div>
 
                 <div class="mb-3">
                     <label for="password" class="form-label">Пароль</label>
                     <input type="password" name="password" id="password" class="form-control">
                 </div>
 
                 <button type="submit" class="btn btn-primary">Войти</button>
             </form>
             <p>Если вы не зарегистрированы, <a href="{% url 'accounts:register' %}">пройдите регистрацию</a>.</p>
         </div>
     </div>
 </body>
 </html>
 {% endblock %}