{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
<div class="container">
    <h2>Изменить пароль</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
