{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="container profile-container">
                        <div class="profile-image">
                            <img src="{{ user.profile.avatar.url }}" alt="Profile image" class="rounded-circle">
                                </div>
                                <div class="profile-info">
                                <h2>{{ user.username }}</h2>
                                <p>Email: {{ user.email }}</p>
                                <p>Позиция: {{ user.profile.position }}</p>
                                <p>Телефон: {{ user.profile.phone }}</p>
                                <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
                                <a href="{% url 'accounts:change_password' %}" class="btn btn-secondary">Изменить пароль</a>
                            </div>
</div></div></div></div>
{% endblock %}