
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center mb-4">Регистрация</h1>
                        <form action="{% url 'accounts:register' %}?next={{ request.GET.next }}" method="POST"class="needs-validation" novalidate>
                         {% csrf_token %}
                        <div class="w-100">
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        {% for field in form %}
                        <div class="mb-3">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label}}</label>
                            {{ field }}
                            {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<button type="submit" class="btn btn-primary mt-3">Регистрация</button>
</form>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
