{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center my-4">Каталог товаров для макияжа</h1>

  
  <form method="get" class="mb-4">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Поиск товаров" value="{{ request.GET.q }}">
      <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">Поиск</button>
      </div>
    </div>
  </form>

  
  <div class="d-flex justify-content-end mb-3">
    <a href="?sort_by=price-low-high" class="btn btn-light">Цена по возрастанию</a>
    <a href="?sort_by=price-high-low" class="btn btn-light">Цена по убыванию</a>
  </div>

  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Цена: {{ product.price }} тг.</p>
          <a href="{% url 'product:product_detail' product.pk %}" class="btn btn-primary">Детали</a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12">
      <p>Товары не найдены.</p>
    </div>
    {% endfor %}
  </div>

  {% include 'partials/pagination.html' %}
{% endblock %}
