html {
  height: 100%; /* Полная высота */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Структура в столбец */
}

.header-container {
  position: fixed; /* Фиксированное положение */
  top: 0; /* Прикрепить к верхней части страницы */
  width: 100%; /* Ширина на всю страницу */ /* Фоновый цвет (можете изменить на свой) */
  z-index: 10; /* Убедитесь, что навигация всегда наверху */
  display: flex;
  justify-content: space-between; /* Space out logo and button */
  align-items: center; /* Center them vertically */
  padding: 10px 20px; /* Add some padding around */

}
/* Отступ содержимого, чтобы не налезать на навигацию */
.main {
  flex-grow: 1; /* Занимает доступное пространство */
  padding-top: 30px; /* Отступ сверху, соответствует высоте навигации */
}

/* Футер закреплен снизу */
footer {
  position: fixed; /* Фиксированное положение */
  bottom: 0; /* Прикрепить к нижней части страницы */
  width: 100%; /* Ширина на всю страницу */
  background-color: #f8f8f8; /* Фоновый цвет футера */
}
body {
  align-items: center;
  justify-content: center;
  background-image: url('/static/images/peach_korean_background.webp'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px; /* Add padding to the top equal to the header height */
  padding-bottom: 100px;
}

.logo a img {
    height: 100px; /* adjust as necessary */
    width: 100px; /* ensure width and height are the same */
    border-radius: 50%; /* this makes the image circular */
    object-fit: cover; /* ensures the image covers the space without distorting */
    display: inline-block; /* helps with alignment and applying styles */
}
@media (max-width: 768px) {
  .logo a img {
      height: 40px; /* smaller logo on smaller screens */
  }
}
.main-nav {
  display: flex; /* Flexbox для элементов меню */
  align-items: center; /* Центрировать по вертикали */
}

/* Стили для элементов списка в навигационном меню */
.main-nav ul {
  list-style: none; /* Убрать стандартные маркеры списка */
  display: flex; /* Вывести элементы списка в строку */
  padding-left: 0; /* Убрать стандартный отступ слева */
  margin-bottom: 0; /* Убрать стандартный отступ снизу */
}

/* Стили для элементов списка */
.main-nav ul li {
  margin-right: 20px; /* Отступ справа для каждого элемента */
}

/* Стили для ссылок и кнопок внутри списка */
.main-nav ul li a, .main-nav ul li button {
  background-color: #ffcc99;
  color: black; /* Цвет текста */
  padding: 8px 15px; /* Внутренние отступы */
  border-radius: 4px; /* Скругление углов */
  text-decoration: none; /* Убрать подчеркивание текста */
  border: none; /* Убрать рамку */
  cursor: pointer; /* Курсор в виде указателя */
}

/* Стилизация корзины покупок */
.shopping-cart a {
  display: flex; /* Flexbox для внутренних элементов */
  align-items: center; /* Центрировать по вертикали */
  position: relative; /* Для абсолютного позиционирования бейджа */
}

/* Стили для бейджа количества товаров в корзине */
.shopping-cart .badge {
  position: absolute;
  top: -10px; /* Позиционирование относительно верхнего края иконки корзины */
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%; /* Круглая форма */
  background-color: red;
  color: white;
}

/* Стилизация кнопки "Войти" */
#loginButton {
  order: 2; /* Убедитесь, что кнопка "Войти" идет после корзины */
}

/* Устанавливаем порядок для корзины, чтобы она шла первой */
.shopping-cart {
  order: 1;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 576px) {
  .main-nav ul {
    flex-direction: column; /* Элементы списка в колонку на мобильных устройствах */
  }

  .main-nav ul li {
    margin-right: 0; /* Убираем отступ справа на мобильных */
  }
}
.footer-container {
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-item a {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.product-item a:hover {
  background-color: #0056b3;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
}

/* Стили для самого модального окна */
.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%; /* Ширина модального окна, можете настроить по своему вкусу */
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для глубины */
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Стили для элементов формы внутри модального окна */
.modal input[type=text],
.modal input[type=password] {
  width: 90%; /* Ширина полей ввода */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  width: 100%; /* Полная ширина внутри .modal-content */
  background-color: #ffcc99; /* Цвет фона кнопки */
  color: #333; /* Цвет текста кнопки */
  padding: 10px 0; /* Отступ сверху и снизу */
  border: none;
  border-radius: 4px; /* Скругление углов кнопки */
  margin-top: 20px; /* Отступ сверху */
}

.modal button[type="submit"]:hover {
  background-color: #e6b48a; /* Цвет фона кнопки при наведении */
}

/* Стилизация ссылок */
.modal a {
  color: #007bff; /* Цвет ссылок */
}

.modal a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стилизация текста под кнопкой */
.modal p {
  text-align: center;
  margin-top: 20px; /* Отступ сверху */
}

/* Стилизация кнопки закрытия */
.close {
  float: right; /* Расположение справа */
  font-size: 1.5rem; /* Размер шрифта */
  font-weight: 700; /* Жирность шрифта */
  line-height: 1; /* Высота линии */
  color: #000; /* Цвет символа */
  text-shadow: 0 1px 0 #fff; /* Тень текста */
  opacity: 0.5; /* Прозрачность */
}

.close:hover {
  color: #000; /* Цвет символа при наведении */
  text-decoration: none; /* Убрать декорации текста */
  opacity: 0.75; /* Прозрачность при наведении */
}

/* Обеспечиваем адаптивность модального окна */
@media (max-width: 576px) {
  .modal-content {
      width: 90%; /* Ширина на 90% экрана на маленьких устройствах */
  }
}
.registration-form {
  overflow-y: auto; /* Добавляем прокрутку, если контент формы выходит за пределы её высоты */
  margin: 20px auto; /* Отступ сверху и снизу и центрирование по горизонтали */
  max-height: calc(100% - 40px); /* Максимальная высота с учетом отступов */
  width: 100%; /* Ширина формы по ширине экрана или контейнера */
  max-width: 400px; /* Максимальная ширина формы для больших экранов */
  box-sizing: border-box; /* Включаем размеры внутренних отступов и границ в общую ширину и высоту */
}
@media (max-width: 480px) {
  .registration-form {
    padding: 10px; /* Уменьшаем внутренние отступы */
    margin: 10px; /* Уменьшаем внешние отступы */
  }
}

/* Стилизация заголовка формы */
.registration-form h1 {
  text-align: center; /* центрирование заголовка */
  margin-bottom: 20px; /* отступ под заголовком */
  color: #333; /* цвет текста */
}

/* Стилизация полей ввода в форме регистрации */
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%; /* ширина полей ввода */
  padding: 10px; /* отступы внутри полей ввода */
  margin-bottom: 10px; /* отступы между полями */
  border: 1px solid #ccc; /* стиль границы */
  border-radius: 4px; /* скругление углов */
}

/* Стилизация кнопки отправки формы */
.registration-form button[type="submit"] {
  padding: 10px;
  width: 100%; /* кнопка на всю ширину формы */
  background-color: #ffcc99 ; /* цвет фона кнопки */
  color: white; /* цвет текста кнопки */
  border: none; /* без границ */
  border-radius: 4px; /* скругленные углы */
  cursor: pointer; /* указатель курсора */
}

.registration-form button[type="submit"]:hover {
  background-color: #ffcc99; /* изменение фона при наведении */
}

img {
  border-radius: 8px; /* Adds rounded corners to your images */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for depth */
  transition: transform 0.2s; /* Smooth transformation upon hover */
}

img:hover {
  transform: scale(1.05); /* Slightly enlarges the images on hover */
}
.img-hover-zoom {
  width: 300px;
  overflow: hidden; /* Обрезать содержимое, выходящее за границы */
}

.img-hover-zoom img {
  width: 100%;
  transition: transform 0.5s ease; /* Плавное изменение */
}

.img-hover-zoom:hover img {
  transform: scale(1.1); /* Увеличение размера изображения */
}

p {
  margin-top: 8px; /* Space between the image and text */
  font-weight: bold; /* Makes the text under the image bold */
}
.welcome-container {
  text-align: center; /* Centers the text horizontally */
  margin-top: 100px; /* Adjusts the space from the top, make sure it doesn't overlap with your nav */
}
.shopping-cart {
  position: relative;
  font-size: 30px; /* Adjust size as needed */
}


#loginButton {
  background-color: #ffcc99;
}

.cart-link .fas, .cart-link .badge {
  margin-right: 5px; /* Добавьте отступ справа для иконки и счетчика */
}

/* Стили для адаптивного дизайна на меньших экранах */
@media (max-width: 768px) {
  .cart-link, #loginButton {
    padding: 5px 8px; /* Уменьшите отступы для меньших экранов */
    font-size: 14px; /* Уменьшите размер шрифта для меньших экранов */
    min-width: 80px; /* Уменьшите минимальную ширину кнопок */
  }

  /* Уменьшите размер значка корзины для меньших экранов */
  .cart-link .fas {
    font-size: 18px;
  }
}
.cart-link .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: rgb(122, 70, 70);
}
.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-list h1 {
  margin-top: 1rem;
}   
.profile-image img {
    width: 150px; /* Установите больший размер */
    height: 150px; /* Установите больший размер */
    border-radius: 50%; /* Сохраняет круглую форму */
    border: 3px solid white; /* Добавляет белую рамку вокруг изображения */
    object-fit: cover; /* Обеспечивает корректное заполнение пространства без искажения */
}
.profile-info h2 {
  color: #333;
  margin-bottom: 10px;
}

.profile-info p {
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}
.container.profile-container { /* Убирает ограничение по ширине */
  padding: 0;  /* Уменьшает или убирает внутренние отступы */
  margin: 0 auto; /* Центрирует контейнер и убирает боковые отступы */
}
/* Стили для сообщений */
.messages {
  position: fixed;
  top: 20px; 
  right: 20px; 
  z-index: 9999;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  opacity: 0;
  animation: fadeInOut 5s ease-in-out forwards;
}

.message.success { background-color: #dff0d8; color: #3c763d; border-color: #d6e9c6; }
.message.error { background-color: #f2dede; color: #a94442; border-color: #ebccd1; }
.message.info { background-color: #d9edf7; color: #31708f; border-color: #bce8f1; }

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}
