{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>

  
        <div class="col-md-6">
            <h2 class="text-uppercase">{{ product.name }}</h2>
            <p class="description">Описание продукта:{{ product.description }}</p>
            <p class="price">Цена: {{ product.price }} тг</p>
            <p class="in-stock">В наличии: {% if product.in_stock %}Да{% else %}Нет{% endif %}</p>
            <p class="category">Категория: {{ product.category.name }}</p>
            <p class="brand">Бренд: {{ product.brand.name }}</p>


            {% if product.in_stock %}
            <form id="add-to-cart-form-{{ product.pk }}" method="post" action="{% url 'cart:add_to_cart' product.pk %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="quantity">Количество:</label>
                  <input type="number" name="quantity" id="quantity-{{ product.pk }}" class="form-control" value="1" min="1">
              </div>
              <button type="submit" class="add-to-cart-btn" data-product-id="{{ product.pk }}">Добавить в корзину</button>
          </form>
          
            {% endif %}
          </div>
        </div>
    
          
        <div class="reviews mt-4">
            <h3>Отзывы:</h3>
            {% for review in reviews %}
            <div class="review">
                <strong>{{ review.user.username }}</strong> - {{ review.rating }} звезд
                <p>{{ review.comment }}</p>
                <small>Reviewed on {{ review.created_at }}</small>
            </div>
            {% empty %}
            <p>Отзывов пока нет.</p>
            {% endfor %}
        
      {% if user.is_authenticated %}


            <div class="add-review mt-4">
                <h4>Оставьте отзыв:</h4>
                <form id="reviewForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rating">Рейтинг:</label>
                        <select name="rating" id="rating" class="form-control">
                            <option value="1">1 звезда</option>
                            <option value="2">2 звезды</option>
                            <option value="3">3 звезды</option>
                            <option value="4">4 звезды</option>
                            <option value="5">5 звезд</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment">Комментарий:</label>
                        <textarea name="comment" id="comment" class="form-control" rows="4"></textarea>
                    </div>
                    <button type="button" id="submitReview" class="btn btn-primary" data-productpk="{{ product.pk }}">Отправить отзыв</button>

                </form>
            </div>
            
          {% else %}
      <p>Вы должны <a href="{% url 'accounts:login' %}">войти</a>, чтобы оставить отзыв.</p>
      {% endif %}
    </div>


  {% endblock %}