{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card shadow">
              <div class="card-body">
                            <h1>Добавить товар</h1>
                          <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                              <label for="id_name">Название:</label>
                              {{ form.name }}
                            </div>
                            <div class="form-group">
                              <label for="id_description">Описание:</label>
                              {{ form.description }}
                            </div>
                            <div class="form-group">
                              <label for="id_price">Цена:</label>
                              {{ form.price }}
                            </div>
                            <div class="form-group">
                              <label for="id_in_stock">В продаже:</label>
                              {{ form.in_stock }}
                            </div>
                            <div class="form-group">
                              <label for="id_category">Категория:</label>
                              {{ form.category }}
                            </div>
                            <div class="form-group">
                              <label for="id_brand">Бренд:</label>
                              {{ form.brand }}
                            </div>
                            <div class="form-group">
                              <label for="id_image">Фото:</label>
                              {{ form.image }}
                            </div>
                            <div class="form-group">
                              <label for="id_quantity">Количество:</label>
                              {{ form.quantity }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Добавить Продукт</button>
                          </form>
                        </div>
                    </div>
                 </div>
              </div>
          </div>
{% endblock %}