{% extends 'base.html' %}

{% block content %}
<h1>Модерация отзывов</h1>
<table>
  <tr>
    <th>Продукт</th>
    <th>Отзыв</th>
    <th>Действия</th>
  </tr>
  {% for review in reviews %}
  <tr>
    <td>{{ review.product.name }}</td>
    <td>{{ review.comment }}</td>
    <td>
      <a href="{% url 'product:approve_review' review.id %}">Одобрить</a>
      <a href="{% url 'product:reject_review' review.id %}">Отклонить</a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">Нет отзывов, ожидающих модерации.</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
