{% extends 'base.html' %}

{% block content %}
  <h1>Out of Stock Products</h1>
  <ul>
    {% for product in products %}
      <li>{{ product.name }}</li>
    {% empty %}
      <li>No out of stock products found.</li>
    {% endfor %}
  </ul>
{% endblock %}