<!DOCTYPE html>
<html lang="ru">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korean Beauty</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body><header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/korean_beauty1.png' %}" alt="Korean Beauty Logo">
            </a>
        </div>
        <nav class="main-nav">
            <ul class="navbar-nav ml-auto"> 
                <div class="shopping-cart">
                    <a href="{% url 'cart:cart_detail' %}" class="cart-link">
                        <i class="fas fa-shopping-bag"></i> 
                        <span class="badge badge-pill badge-danger">{{ request.cart.total_items }}</span>
                    </a>
                </div>
                              
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.get_full_name|default:request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:profile' %}">Профиль</a>
                            {% if request.user.is_staff %}
                            <a class="dropdown-item" href="{% url 'product:product_form' %}">Добавить товар</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Изменить пароль</a>
                            <a class="dropdown-item" href="{% url 'orders:order_history' %}">Заказы</a>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button id="loginButton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">
                            Войти
                        </button>                      
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Korean Beauty</p>
        </div>
    </footer>

    <div id="loginModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Вход</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'accounts:login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Имя пользователя:</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p>Если вы не зарегистрированы, <a href="{% url 'accounts:register' %}">пройдите регистрацию</a>.</p>
                </div>
            </div>
        </div>
    </div>
        {% block extra_js %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
