{% extends 'base.html' %}

{% block content %}
{% load static %} 
<div class="welcome-container">
  <h1>Добро пожаловать на сайт корейской косметики</h1>
  <p>Выберите нужную категорию продукта:</p>
</div>

  <main class="container">
    <div class="row text-center">
        <div class="col-md-3">
            <a href="{% url 'product:skincare_products' %}"> 
                <img src="{% static 'images/skincare.png' %}" alt="Уход за кожей" class="img-fluid">
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'product:makeup_products' %}">
                <img src="{% static 'images/makeup.png' %}" alt="Макияж" class="img-fluid">
            </a>
          </div>
        <div class="col-md-3">
          <a href="{% url 'product:haircare_products' %}">
              <img src="{% static 'images/hair_care.jpg' %}" alt="Уход за волосами" class="img-fluid">
          </a>
        </div>
          <div class="col-md-3">
              <a href="{% url 'product:product_list' %}">
                  <img src="{% static 'images/all_product.png' %}" alt="Все продукты" class="img-fluid">
              </a>
            </div>
    </div> 
</main>
{% endblock %}
