{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Ожидание оплаты</h1>
                    <p>Заказ №{{ order.id }} готов к оплате. Пожалуйста, проверьте детали вашего заказа и перейдите к оплате.</p>

                    <div class="list-group mb-3">
                        <li class="list-group-item">Номер заказа: <strong>{{ order.id }}</strong></li>
                        <li class="list-group-item">Статус заказа: <strong>{{ order.get_status_display }}</strong></li>
                        <li class="list-group-item">Общая стоимость: <strong>{{ order.total_price }} тг.</strong></li>
                    </div>

                    <form action="{% url 'orders:pay_order' order_id=order.id %}" method="post" class="mb-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Перейти к оплате</button>
                    </form>

                    <a href="{% url 'orders:order_history' %}" class="btn btn-secondary">Вернуться к истории заказов</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
