{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
            <form method="post">
                {% csrf_token %}
                <label for="address">Адрес доставки:</label>
                <input type="text" id="address" name="address" required>
                <button type="submit" class="btn btn-primary">Подтвердить заказ</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
''