{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card shadow">
  <h1>Создание Заказа</h1>
  {% if cart_items %}
    <p>Вы уверены, что хотите создать заказ из следующих товаров?</p>
    <ul>
      {% for item in cart_items %}
        <li>{{ item.product.name }} - количество: {{ item.quantity }}, цена: {{ item.product.price }}тг</li>
      {% endfor %}
    </ul>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Подтвердить заказ</button>
    </form>
  {% else %}
    <p>Ваша корзина пуста. Пожалуйста, добавьте товары перед созданием заказа.</p>
    <a href="{% url 'cart:cart_detail' %}">Вернуться в корзину</a>
  {% endif %}
{% endblock %}
