{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h1 class="card-title">Детали Заказа</h1>
          <p>Номер заказа: <strong>{{ order.id }}</strong></p>
          <p>Статус заказа: <strong>{{ order.get_status_display }}</strong></p>
          <p>Общая сумма заказа: <strong>{{ order.total_price }}тг</strong></p>

          <h3 class="mt-4">Товары в заказе:</h3>
          <ul>
            {% for item in order.items.all %}
              <li>{{ item.product.name }} - {{ item.quantity }} шт. по цене {{ item.price }} каждая</li>
            {% endfor %}
          </ul>

          {% if order.status == 'created' %}
            <form method="post" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="address">Адрес доставки:</label>
                    <input type="text" id="address" name="address" class="form-control" required>
                </div>
                <button type="submit" name="confirm_address" class="btn btn-primary">Подтвердить адрес и заказ</button>
            </form>
          {% elif order.status == 'confirmed' %}
            <p>Адрес: <strong>{{ order.address }}</strong></p>
            <form method="post" action="{% url 'orders:awaiting_payment' order_id=order.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Перейти к оплате</button>
            </form>
          {% endif %}

          {% if order.status != 'paid' %}
            <form action="{% url 'orders:cancel_order' order_id=order.id %}" method="post" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Отменить заказ</button>
            </form>
          {% endif %}

          <a href="{% url 'orders:order_history' %}" class="btn btn-link mt-3">Вернуться к истории заказов</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
