{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">История заказов</h1>
                    {% if orders %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Заказ №</th>
                                <th>Статус</th>
                                <th>Дата создания</th>
                                <th>Сумма</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.get_status_display }}</td>
                                <td>{{ order.created_at|date:"d F Y" }}</td>
                                <td>{{ order.total_price }} тг</td>
                                <td>
                                    <a href="{% url 'orders:order_detail' order_id=order.id %}" class="btn btn-primary btn-sm">Подробнее</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p class="text-center">У вас пока нет заказов.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
