{% extends 'base.html' %}

{% block content %}
<h1>Оплата заказа</h1>
<p>Вы готовы оплатить следующий заказ?</p>
<p>Номер заказа: {{ order.id }}</p>
<p>Общая сумма к оплате: {{ order.total_price }} тг.</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Оплатить заказ</button>
</form>

<a href="{% url 'orders:order_history' %}">Вернуться к истории заказов</a>
{% endblock %}
