{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title">Спасибо за ваш заказ!</h1>
                    <p>Ваш заказ номер <strong>{{ order.id }}</strong> успешно оформлен и скоро будет обработан.</p>

                    <p class="text-right"><strong>Общая сумма: {{ order.total_price }} тг</strong></p>
                    <a href="{% url 'orders:order_history' %}" class="btn btn-primary">Посмотреть историю заказов</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}